@media(max-width:568px){

    header{
        margin-bottom: 5%;
    }

    .botao_hamburguer{
        visibility: hidden;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .link_navegacao{
        display: none;
    }

    .apresentacao{
        display: block;
    }

    .imagem{
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    .apresentacao_destaque{
        display: block;
        margin: 0% 5% 0% 5%;
    }

    .apresentacao_destaque_titulo h1{
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .apresentacao_destaque_paragrafo p{
        font-size: 1.5rem;
        width: 90%;
    }

    .botao_informacoes p{
        font-size: 1rem;
    }

    .container_noticias{
        margin: 5% 5% 0% 5%;
        width: auto;
        line-height: 2;
        padding: 20px;
    }
    
    .card_principais_noticias{
        display: block;
    }

    .imag_box{
        width: 50%;
        height: 50%;
    }

    .card_titulo{
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.5;
        width: 100%;
    }

    .noticia{
        margin: 5% 0% 5% 5%;
    }
}

@media(max-width:800px){
    header{
        margin-bottom: 2%;
    }

    .botao_hamburguer{
        display: none;
    }

    .apresentacao{
        display: block;
    }

    .imagem{
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    .apresentacao_destaque{
        display: block;
        margin: 0% 5% 0% 5%;
    }

    .apresentacao_destaque_titulo{
        font-size: 1.5rem;
        font-weight: bold;
        width: auto;
        text-align: center;
    }

    .apresentacao_destaque_paragrafo{
        width: 90%;
        font-size: 1.2rem;
        text-align: justify;
    }

    .botao_informacoes p{
        font-size: 1.3rem;
    }

    .container_noticias{
        margin: 5% 5% 0% 5%;
        width: auto;
        line-height: 2;
        padding: 20px;
    }

    .container_corpo{
        font-size: 1.2rem;
    }
    
    /* falta fazer */

    .card_principais_noticias{
        display: block;
    }

    .imag_box{
        width: 50%;
        height: 50%;
    }

    .card_titulo{
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.5;
        width: 100%;
    }

    .noticia{
        margin: 5% 0% 5% 5%;
    }
}

@media(max-width:1000px){
    
    .botao_hamburguer{
        display: none;
    }

    .apresentacao_destaque{
        width: 90%;
    }

    .apresentacao_destaque_paragrafo{
        font-size: 1.4rem;
        text-align: justify;
    }

    .imagem_card{
        width: 60%;
        height: 60%;
    }
}