@media screen and (max-width:570px){

    header{
        margin-bottom: 5%;
    }
    
    .nav_list{
        position: fixed;
        top: 0;
        left: 50%;
        width: 50vw;
        height: 50vh;
        background-color: #00001ac4;
        clip-path: circle(100px at 90% -27%);
        transition: 1s ease-out;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

     .nav_bar.active .nav_list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    } 

    .nav_bar.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav_bar.active .hamburguer::before{
        transform: rotate(120deg);
        background: white;
    }

    .nav_bar.active .hamburguer::after{
        transform: rotate(-120deg);
        background: white;
        top: -7px;
    }

    .link_navegacao{
        color: white;
    }

    .hamburguer{
        display: block;
        z-index: 1;
    }
    
  
    .apresentacao{
        display: block;
    }

    .apresentacao_destaque{
        display: block;
        margin: 0% 5% 0% 5%;
    }

    .apresentacao_destaque_titulo h1{
        font-size: 2.2rem;
        font-weight: bold;
        text-align: left;
    }

    .apresentacao_destaque_paragrafo p{
        font-size: 1.5rem;
        width: auto;
        
    }

    .botao_informacoes p{
        font-size: 1rem;
    }

    .container_noticias{
        margin: 5% 5% 0% 5%;
        width: auto;
        line-height: 2;
        padding: 20px;
    }
    
    .cards_de_noticias{
        display: block;
        margin: 5% 5% 0% 5%;
    }

    .card_imagem_noticia{
        width: 250px;
        border-radius: 10%;
    }

    .figure_card{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cards_destaque{
        display: block;
        margin-bottom: 2rem;
    }
    
    .card_conteudo{
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .link_card .card_titulo{
        margin-top: 10px;
        text-align: center;
    }
    
}

@media(max-width:800px){
    header{
        margin-bottom: 2%;
    }

    .apresentacao{
        display: block;
    }

    .imagem_desktop{
        display: none;
    }

    .imagem_mobile{
        margin: 0% 5% 0% 5%;
        width: 90%;
    }

    .apresentacao_destaque{
        display: block;
        margin: 0% 5% 0% 5%;
    }

    .apresentacao_destaque_titulo{
        font-size: 1.5rem;
        font-weight: bold;
        width: auto;
        text-align: start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .apresentacao_destaque_paragrafo{
        width: 90%;
        font-size: 1.2rem;
        text-align: justify;
    }

    .botao_informacoes p{
        font-size: 1.3rem;
    }

    .container_noticias{
        margin: 5% 5% 0% 5%;
        width: auto;
        line-height: 2;
        padding: 20px;
    }

    .container_corpo{
        font-size: 1.2rem;
    }
    
    .cards_de_noticias{
        display: block;
        margin: 5% 5% 0% 5%;
    }

    .card_imagem_noticia{
        width: 250px;
        border-radius: 10%;
    }

    .cards_destaque{
        margin-bottom: 2rem;
    }
    
    .card_conteudo p{
        width: 250px;
    }

    .card_conteudo h5{
        width: 250px;
    }

    .link_card h5{
        margin-top: 10px;
        text-align: start;
    }

}

@media(max-width:1000px){
    
    .imagem_mobile{
        display: none;
    }

    .apresentacao_destaque_paragrafo p{
        text-align: justify;
    }

    .cards_de_noticias{
        display: block;
    }
}