@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;300;400;500;600;700;800;900 & display=swap');

:root{
    --cor_principal: #fefdf9;
    --cor_botao : #f15d51;
    --cor_noticias: #00001a;
    --cor_titulo_new: #e6ad53;
    --cor_link_navegacao: rgba(105, 104, 104, 0.767);
    --fonte_principal: font-family: 'Inter', sans-serif; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--cor_principal);
    font-size: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 5% 5% 2% 5%;
}

.botao_hamburguer{
    display: none;
}

.container_logo img{
    width: 85%;
}

.link_navegacao{
    text-decoration: none;
    color: var(--cor_link_navegacao);
    margin: 0px 20px;
}

nav a:hover{
    border-bottom: solid var(--cor_noticias) 2px;
    transition: 0.2s ease-in-out;
    padding: 5px;
    color: var(--cor_noticias);
}
.apresentacao{
    display: flex;
}

.apresentacao_imagem_destaque{
    display: block;
}

.imagem{
    width: 90%;
    margin: 0% 0% 0% 8%;
}

.apresentacao_destaque{
    width: 90%;
    margin: 3% 0% 0% 8%;
    justify-content: space-between;
}

.apresentacao_destaque_titulo{
    font-size: 2.5rem;
}

.apresentacao_destaque_paragrafo{
    font-size: 1.5rem;
    width: 90%;
}

.botao_informacoes{
    margin-top: 5%;
    background-color: var(--cor_botao);
    color: var(--cor_principal);
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: transform 0.1s ease-in;
    font-size: 1.5rem;
}

.botao_informacoes:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.container_noticias{
    width: 80%;
    margin: 0% 6% 5% 0%;
    background-color: #00001a;
    color: #fefdf9;
    padding: 2%;
    line-height: 1.5;
}
.titulo_new{
    color: var(--cor_titulo_new);
    text-align: center;
    font-size: 2rem;
}

.link_noticia{
    text-decoration: none;
    color: var(--cor_principal);
}

#linha{
   background-color: grey;
   height: 1px;
   width: 100%;
   margin: 8% 0 8% 0; 
}

/* .card_principais_noticias{
    margin: 5% 0% 0% 0%;
    display: flex;
}

.selecao{
    display: block;
}

.noticia{
    display: flex;
    margin: 0% 0% -8% 2%;
    justify-content: space-evenly;
}

.img_box img{
    width: 80%;
    height: 70%;
    border-radius: 50px;
}

.card{
    width: 50%;
    margin-left: 5%;
}

.card_titulo{
    font-size: 1rem;
    font-weight: 800;
    width: 80%;
    text-align: center;
}

.link_card{
    text-decoration: none;
    color: var(--cor_noticias);
} */